---
layout: base.njk
eleventyNavigation:
  key: home
  title: Home
  order: 1
---

<p>The city was founded before the Colonies in the New World took hold. It is one of the oldest cities. It is the Supernatural Capital of the world with a thriving night life, 24/7 businesses for everything imaginable. They do not wish to advertise the supernatural aspect of it, but they aren't as hidden as they are throughout the rest of the world. Ponce de Leon did indeed find the fountain of youth here, but it is not what anyone expected as the city was already home to vampires and the fountain of youth is being turned into a vampire for eternity.</p>

<p>Follow Nox and Alex through their adventures in Everlight!</p>

<div class="md:flex justify-center place-items-center w-full bg-gray-200 text-gray-700 rounded-xl">
  <div class="md:w-1/4 md:pr-5">
    <img src="{{ 'game/images/themindofnox.webp' | url }}" alt="The Mind of Nox"/>
  </div>
  <div class="md:w-1/4">
    <p class="md:mb-0">Follow along with us at <a class="text-gray-600" href="https://themindofnox.com">The Mind of Nox</a> on as the boys discover all that awaits in Everlight.</p>
  </div>
</div>